/* P3: Personal Branding */
body {
    background-color: #ffdddf;
    font-size: 16px;
    font-family: Caprasimo;
    padding: 2em;
}

body::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

* {
    margin: 0;
    padding: 0;
}

.nav{
    margin-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #fdfed6;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #449014;
    border-radius: 50px;
    height: 20px;  
    top: 20%;
    a {
        text-decoration: none;
        color: #449014;
      }
    font-weight: 500;
}



.caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
  }

.carlito-regular {
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.carlito-bold {
    font-family: "Carlito", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.carlito-regular-italic {
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.carlito-bold-italic {
    font-family: "Carlito", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


h2 {
    color: #449014;
    margin-bottom: 0.5em;
    font-family: Caprasimo;
}

h1 {
    color: #449014;
    font-size: 3em;
    margin: 0.3em;
}

p {
    color: #449014;
    font-family: carlito;
}

.about-me-container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 2em;
    margin-bottom: 2em;
    margin-top: 10%;
  }

.about-me-info {
    animation: autoShowAnimation both; 
    animation-timeline: view(70% 5%);
    p{
      font-size: 110%;
    }
    h2 {
        text-align: center;
    }
    padding: 10%;
  }
    @keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    } to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
  }

.about-me-info img {
    display: block;
    width: 60%;
    height: auto;
    margin-left: 30%;
  }



  .day-holder {
    display: flex;
    align-content: center;
    justify-content:center; 
    
  }

  .day-inner {
    background: url("../images/bubble\ background.png") no-repeat;
    background-size: 100% 100%;
    padding: 3em 5em;
    h2{
      text-align: center;
      margin-right: 20%;
      margin-left: 20%;
      margin-top: 20%;
    }
    p {
      
      margin-right: 20%;  
      margin-left: 20%;
      font-size: 110%;
    }    
  }

  .day-inner img {
    width: 30%;
    margin-left: 30%;
  }

  @keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    } to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
  }
  
  .timeline {
    margin: 5em auto;
    max-width: 34.15em;
  }

  .checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    font-family: carlito;
  }

  .checkpoint div {
    border: 2px solid #449014;
    border-radius: 1em;
    padding: 1.5em;
  } 

  .checkpoint p {
    line-height: 27px;
  }

  .checkpoint:nth-child(odd) {
    border-left: 3px solid #449014;
    padding-left: 3em;
    transform: translateX(17em);
  }

  .checkpoint:nth-child(even) {
    border-right: 3px solid #449014;
    padding-right: 3em;
    transform: translateX(-17em);
  }

  .checkpoint:nth-child(odd)::before,
  .checkpoint:nth-child(even)::before {
    content: '';
    background: #449014;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .checkpoint:nth-child(odd)::before {
    left: 0;
  }

  .checkpoint:nth-child(even)::before{
    right: 0;
  }

  .checkpoint:nth-child(odd) div::before,
  .checkpoint:nth-child(even) div::before {
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #fdfed6;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

    /* adds into the circles on pole */
  .checkpoint:nth-child(odd) div::before {
    left: -0.5em;
  }

  .checkpoint:nth-child(even) div::before {
    right: -0.5em;
  }


/* gallery style sheet */
.img-holder {
    display: flex;
    align-content: center;
    justify-content:center; 
    align-items: center;
    margin-left: 200px;
}



.img-holder .item {
    flex-grow: 0;
    height: 100%;
    margin: 5px;
    p {
      font-size: 25px;
    }
  
} 

img:hover {
    cursor: pointer;
    opacity: 0.5;
    
}

.img-holder img {
    width: 50%;
}

.caption {
    text-align: center;
}

.social {
    margin: 5%;
    text-align: center;
}

/* gallery slider */
.banner{
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider{
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}
@keyframes autoRun {
  from{
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  } to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.banner .content h1 {
  font-size: 50em;
  line-height: 1em;
  padding: 0;
  margin: 0;
  position: relative;
}

.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #fdfed6;
  color: transparent;
}

.banner .content .author {
  text-align: right;
  max-width: 200px;
}

.banner .content h2 {
  font-size: 3em;
}

.banner .content .model {
  background-image: url(/images/set\ item.png);
  width: 100%;
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}



#logo {
  height: 2.5em;
  width: auto;
  float: left;
  margin-right: .5em;
}

.logo-holder {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
  font-weight: bold;
}