/* P3: Personal Branding */
body {
    background-color: #ffdddf;
}

.nav{
    padding-left: 3em;
    padding-right: 3em;
    background-color: #fdfed6;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #449014;
    border-radius: 50px;
    height: 20px;  
    top: 20%;
    a {
        text-decoration: none;
        color: #449014;
      }
}

h2 {
    color: #449014;
    
}

h1 {
    color: #449014;
}

p {
    color: #449014;
}

.about-me-container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 2em;
    margin-bottom: 2em;
  }

  .about-me-info {
    animation: autoShowAnimation both; 
    animation-timeline: view(70% 5%);
    h2 {
        text-align: center;
    }
    padding: 10%;
  }
  @keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    } to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
  }

  .about-me-info img {
    display: block;
    width: 50%;
    height: auto;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .life-info {
    animation: autoShowAnimation both; 
    animation-timeline: view(70% 5%);

    h2{
        text-align: center;
    }
    padding-left: 30%;
    padding-right: 30%;
    background-size: contain;       
  }

  @keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    } to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
  }
  

/* gallery style sheet */
.img-holder {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
    background: url("/images/bubble\ background.png");  
}

.img-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    
}

.img-holder .item {
    flex-grow: 0;
    width: 15%;
    margin: 20px;
} 

img:hover {
    cursor: pointer;
    opacity: 0.5;
    
}

.img-holder img {
    height: 120px;
    width: 100%;
}

.caption {
    text-align: center;
}